* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Define styles for the default root window element */
:root {
  --background-color-primary: #ffffff;
  --background-color-secondary: #fafafa;
  --accent-color: #fff;
  --text-primary-color: #222;
  --element-size: 4rem;
}

/* Define styles for the root window with dark - mode preference */
:root.dark-theme {
  --background-color-primary: #1e1e1e;
  --background-color-secondary: #2d2d30;
  --accent-color: #3f3f3f;
  --text-primary-color: #ddd;
}

body {
  background: var(--background-color-primary);
}

.card,
.dropdown-menu,
.modal-content {
  background: var(--background-color-secondary);
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}

td,
td a,
th,
p,
span,
label,
.card-header,
.heading-title,
label.form-control-label {
  color: var(--text-primary-color);
}

input,
textarea {
  &.form-control,
  &.form-control:focus {
    background: var(--accent-color);
    color: var(--text-primary-color);
  }
}
