.btn {
  position: relative;
  text-transform: none;
  transition: all 0.15s ease;
  font-size: 12px;
  will-change: transform;

  &:hover {
    @include box-shadow(
      0 7px 14px rgba(50, 50, 93, 0.1),
      0 3px 6px rgba(0, 0, 0, 0.08)
    );
    transform: translateY(-1px);
  }

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.btn-group,
.input-group {
  .btn {
    margin-right: 0;
    transform: translateY(0);
  }
}

.btn-sm {
  font-size: 12px;
}

.btn-lg {
  font-size: 14px;
}

.btn-link {
  font-weight: 600;
  box-shadow: none;

  &:hover {
    box-shadow: none;
    transform: none;
  }
}
