.main-content {
  position: relative;
  margin-left: $navbar-vertical-width;
  padding: $gap-base;

  .container-fluid {
    .navbar-search {
      .input-group {
        box-shadow: none;

        input {
          border-radius: $searchbar-border-radius;
        }

        .input-group-text {
          border: $searchbar-border-width solid $input-border-color-grey;
          border-radius: $searchbar-border-radius;
          background: transparent;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .main-content {
    margin-left: 0;

    .container-fluid {
      padding-left: $main-content-padding-x + calc($grid-gutter-width / 2);
      padding-right: $main-content-padding-x + calc($grid-gutter-width / 2);
    }
  }
}
