stages:
  - test
  - deploy

before_script:
  # Move to src directory where all the code is written
  - cd src/
  # Install app dependencies
  - composer install
  # Clear npm cache before installing dependencies
  - npm cache clear -f
  # Install node dependencies
  - npm install
  # Set up .env
  - cp /home/mipu7431/.env .env
  # Generate an environment key
  - php artisan key:generate
  # Create storage link
  - php artisan storage:link
  # Run migrations
  - php artisan migrate:fresh
  # Build application for production
  - npm run build

test:
  stage: test
  script:
    # Run php tests
    - php artisan test
    # Run node tests
    - npm run test
    # Generate test coverage
    # - npm run coverage

deploy:
  stage: deploy
  script:
    - echo deploy
