.avatar-group {
  .avatar {
    position: relative;
    z-index: 2;
    border: 2px solid $card-bg;
    transition: all 0.2s ease-in-out;

    &:hover {
      z-index: 3;
      transform: scale(1.2);
    }
  }

  .avatar + .avatar {
    margin-left: -12px;
  }
}

.avatar {
  color: $white;
  background-color: $gray-500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 50%;
  height: 48px;
  width: 48px;

  + .avatar-content {
    display: inline-block;
    margin-left: 12px;
  }
}

.avatar-lg {
  width: 58px;
  height: 58px;
  font-size: $font-size-sm;
}

.avatar-sm {
  width: 36px;
  height: 36px;
  font-size: $font-size-sm;
}
