.navbar {
  background: $navbar-background;

  .navbar-brand {
    padding: 0 $gap-base;
  }

  .navbar-nav {
    .nav-link {
      @extend .clickable;

      span {
        color: white;
      }

      &:hover,
      &.active {
        span {
          color: $navbar-nav-item-hover-color;
        }
      }

      display: flex;
      align-items: center;
      gap: $gap-base;

      width: 100%;
      transition: color 400ms;
    }
  }

  @media (max-width: 768px) {
    .navbar-collapse {
      padding: $gap-lg $gap-base;
    }
  }

  &-vertical {
    display: block;
    position: fixed;
    overflow-y: auto;

    top: 0;
    bottom: 0;

    width: 100%;
    max-width: $navbar-vertical-width;

    background: $navbar-background-vertical;

    .navbar-nav {
      padding: $gap-lg $gap-base;
    }
  }
}
