h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.heading {
  &-small {
    padding: 4px 0;
    font-size: 12px;
    letter-spacing: 0.6px;
  }

  &-title {
    letter-spacing: $heading-letter-spacing;
  }

  &-title,
  &-small {
    color: var(--text-primary-color);
    font-weight: $heading-font-weight;
    text-transform: $heading-text-transform;
  }
}
